* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
    background-color: #FFFFFF;
    margin: 0px;
}

/*
Start of the navigation bar.
*/
.navigation_home {
	width: 100%;
	padding-bottom: 2vh;
	border-bottom: 1px solid #EBEBEB;
}

.top_header {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.logo {
	width: 50%;
	padding-left: 6vw;
	padding-right: 6vw;
	padding-top: 2vh;
}

.logo img {
	width: 10%;
	max-width: 10%;
}

.cta_nav {
	width: 50%;
	text-align: right;
}

.cta_nav > span > a > i {
	color: #383838;
	text-decoration: none;
	font-size: 2.56em;
	padding-left: 6vw;
	padding-right: 6vw;
	padding-top: 2vh;
}

.sticky {
	position: fixed;
	top: 0;
}
/*
End of top navigation bar.
*/

.container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding-right: 10vw;
	padding-left: 10vw;
	margin-top: 12vh;
}

.order {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.title h1 {
	color: #383838;
	margin-top: 12vh;
	font-size: 3.80em;
	letter-spacing: 2px;
}

.desc h4 {
	color: #383838;
	font-size: 1.16em;
	letter-spacing: 3px;
	margin-top: 4vh;
	margin-bottom: 4vh;
	line-height: 1.56em;
	font-weight: lighter;
}

.ctas {
	width: 100%;
}

#pri_btn {
	width: 20rem;
	border: 0.125rem solid transparent;
	background-color: #F44336;
	color: #FFFFFF;
	text-align: center;
	font-size: 1em;
	padding: 1.28rem;
	cursor: pointer;
	margin-top: 2vh;
	margin-bottom: 2vh;
	letter-spacing: 3px;
	text-decoration: none;
	font-weight: lighter;
	border-radius: 0.375rem;
	transition: all 0.3s ease;
	box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, .36);
}

#pri_btn:hover {
	box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, .16);
}

#pri_btn:focus {
	box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, .16);
}

#sec_btn {
	width: 20rem;
	border: 0.125rem solid transparent;
	background-color: #383838;
	color: #FFFFFF;
	text-align: center;
	font-size: 1em;
	padding: 1.28rem;
	cursor: pointer;
	margin-top: 2vh;
	margin-bottom: 2vh;
	letter-spacing: 3px;
	text-decoration: none;
	font-weight: lighter;
	border-radius: 0.375rem;
	transition: all 0.3s ease;
	box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, .36);
}

#sec_btn:hover {
	box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, .16);
}

#sec_btn:focus {
	box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, .16);
}

#sec_btn a {
  text-decoration: none;
  color: #FFFFFF;
  background: transparent;
}

.img_landing {
	width: 100%;
	margin-top: 12vh;
	margin-bottom: 10vh;
}

.img_landing img {
	width: 100%;
	max-width: 100%;
}

.features {
	width: 100%;
	padding-left: 10vw;
	padding-right: 10vw;
	background: #F5F5F5;
}

.features_heading {
	padding-top: 10vh;
	padding-bottom: 4vh;
	background: transparent;
}

.features_heading h1 {
	color: #383838;
	text-align: center;
	font-size: 2.16em;
	letter-spacing: 3px;
	background: transparent;
	font-weight: bolder;
}

.features_content {
	background: transparent;
	display: flex;
	flex-wrap: wrap;
}

.feat {
	width: 100%;
	background: transparent;
	text-align: center;
	align-items: center;
	padding-bottom: 12vh;
}

.feat h1 {
	margin-top: 4vh;
	color: #383838;
	text-align: center;
	letter-spacing: 2px;
	background: transparent;
  font-size: 2.56rem;
}

.feat h4 {
	color: #383838;
	text-align: center;
	margin-top: 2vh;
	font-weight: lighter;
	background: transparent;
	padding-left: 2vw;
	padding-right: 2vw;
}

.feat img {
	width: 75%;
	max-width: 75%;
	background: transparent;
	margin-top: 4vh;
}

.made_by {
	width: 100%;
	margin-top: 4vh;
	margin-bottom: 4vh;
	text-align: center;
	color: #383838;
}

@media screen and (min-width: 504px) {

  #pri_btn {
    margin-right: 2.16rem;
  }

}

@media screen and (min-width: 768px) {

	.top_header {
		padding-left: 10vw;
		padding-right: 10vw;
	}

	.desc h4 {
		margin-top: 2vh;
	}

	.container {
		padding-left: 10vw;
		padding-right: 10vw;
	}

	#pri_btn {
		margin-right: 2.16rem;
	}

	.order > .row {
		width: 50%;
		order: 2;
	}

	.img_landing {
		width: 50%;
		order: 1;
	}

	.img_landing > img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
		max-width: 50%;
	}

	.feat {
		width: 33.33%;
	}

	.feat img {
		width: 50%;
		max-width: 50%;
	}
}
