* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
}

/*
Start of the navigation bar.
*/

.container {
	width: 100%;
	display: block;
	flex-wrap: wrap;
	padding-right: 10vw;
	padding-left: 10vw;
	margin-top: 3rem;
}

.row {
    width: auto !important;
    display: block;
}

.navigation_home {
    width: 100%;
    padding-bottom: 2vh;
    border-bottom: 1px solid #EBEBEB;
}

.top_header {
    width: 100%;
}

.logo {
    width: 20%;
    padding-left: 6vw;
    padding-right: 6vw;
    padding-top: 2vh;
}

.logo img {
    width: 48px;
    max-width: 48px;
}

.nav_links {
    width: 80%;
    padding-left: 6vw;
    padding-right: 6vw;
    margin-top: 4vh;
}

.nav_links > span {
    width: 33.33%;
    text-align: center;
}

.nav_links > span > a {
    color: #9E9E9E;
    text-decoration: none;
    letter-spacing: 2px;
}

.nav_links span a:hover {
    color: #383838;
    transform: scale(1.25);
}

.top {
    width: 100%;
}

.top_heading {
    margin-top: 9rem;
    text-align: center;
}

.top_heading h1 {
    color: #383838;
    font-size: 3.20rem;
    letter-spacing: 4px;
    padding-left: 10vw;
    padding-right: 10vw;
}

input#message {
    background:#fff;
    box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(200, 200, 200, 0.5);
    font-size:130%;
    width: 100%;
    font-weight:400;
    margin-bottom: 2rem;
    padding:1.2em 1em;
}

.task {
    box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(200, 200, 200, 0.5);
    padding: 2rem;
    color: black;
    font-size: 130%;
    margin: 3rem;

}

.greenTask {
    /* border-top: 1px solid grey;
    border-bottom: 1px solid grey; */
    background-color: rgb(94, 255, 102);
    padding: 2rem;
    color: #fff;
}

