<nav class="navigation_home sticky">
    <div class="top_header">
      <div class="logo">
          <img src="/assets/tick.svg">
      </div>
      <div class="nav_links">
        <span><a href="" class="nav_pri">Home</a></span>
        <span><a href="" class="nav_pri">About</a></span>
        <span *ngIf="!authService.isLoggedIn()">
          <a class="" href="" role="button" (click)="authService.logout()">Login</a>
        </span>
        <span *ngIf="authService.isLoggedIn()">
          <a class="" href="" role="button" (click)="authService.logout()">Logout</a>
        </span>
      </div>
    </div>
</nav>

<section class="top">
  <div class="top_heading">
    <h1>Let's get some stuff done!</h1>
    <p>Here's your list of tasks</p>
    <p *ngIf="!authService.isLoggedIn()">
      <a class="btn btn-lg btn-primary" href="" role="button" (click)="authService.logout()">Login</a>
    </p>
    <p *ngIf="authService.isLoggedIn()">
      <a class="btn btn-lg btn-primary" href="" role="button" (click)="authService.logout()">Logout</a>
    </p>
  </div>

  <div class="container">
    <!-- <div class="row">
        <div class="inputTask" style="text-align: center;">
            <input type="text" placeholder="Enter a task!" id="taskValue" />
          </div>
    </div> -->

    <div class="inputTask" style="text-align: center;">
        <input type="text" id="message" placeholder="Enter a task!" (keyup.enter)="Send($event.target.value)" [(ngModel)]="msgVal" />
        <div id="taskList">
            <ul style="list-style: none;">
              <li *ngFor="let item of items | async">
                <div class="row task" [ngClass] = "{ 'greenTask': item.done == true }">
                  <div class="col" (click)="complete(item)" >
                      
                          {{item.message}}
                      
                      <!-- <button type="input" class="btn btn-primary" style="background-color: white; color: black;" (click)="complete($event.currentTarget)">
                          X
                      </button> -->
                  </div>          
                </div>
              </li>
            </ul>
            <!-- <p *ngFor="let item of items | async">{{item.message}}</p> -->
        </div>
    </div>
    
  </div>
  

<section class="task_list">
  <h3>Here's your list of tasks</h3>
  <div class="list">
    <ul>
      <li class="task" *ngFor="let item of items | async">{{item.message}}</li>
    </ul>
  </div>
</section>